.Ticket {
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  border: solid 1px #e5e5e5;
  background-color: #fff;
  margin-bottom: 0.5rem;
}

.Image {
  margin-top: 0.8rem;
  width: 100%;

  img {
    width: 100%;
  }
}

.Tag {
  color: red;
  border-radius: 10px;
}

.Id {
  color: #141414;
  font-weight: 500;
  /* margin-top: 0.5rem; */
}

.Assignee {
  color: #1f1f49;
  font-size: 0.75rem;
}

.Actions {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.Popover {
  display: flex;
  flex-direction: column;
}
