$column1: rgba(245, 34, 45, 0.25);
$column2: rgba(212, 102, 45, 0.25);
$column3: rgba(82, 196, 26, 0.25);
$column4: rgba(193, 185, 185, 0.25);

@mixin titleStyles {
  height: 3rem;
  border-radius: 8px 8px 0 0;
  padding: 0.8rem;
}

.Column {
  border-radius: 8px;

  .column-1 {
    background-color: $column1;
    @include titleStyles;
  }
  .column-2 {
    background-color: $column2;
    @include titleStyles;
  }
  .column-3 {
    background-color: $column3;
    @include titleStyles;
  }
  .column-4 {
    background-color: $column4;
    @include titleStyles;
  }

  .ColumnContent {
    display: flex;
    flex-direction: column;
    height: calc(100% - 3rem);
    overflow-y: auto;
    padding: 1rem;
    border-radius: 0 0 8px 8px;
  }
}
